<p style="color: green"><%= notice %></p>

<h1>Add recipe to recipe foods</h1>

<div id="add_recipe_to_recipe_foods">
  <% @add_recipe_to_recipe_foods.each do |add_recipe_to_recipe_food| %>
    <%= render add_recipe_to_recipe_food %>
    <p>
      <%= link_to "Show this add recipe to recipe food", add_recipe_to_recipe_food %>
    </p>
  <% end %>
</div>

<%= link_to "New add recipe to recipe food", new_add_recipe_to_recipe_food_path %>
