<h1>New add recipe to recipe food</h1>

<%= render "form", add_recipe_to_recipe_food: @add_recipe_to_recipe_food %>

<br>

<div>
  <%= link_to "Back to add recipe to recipe foods", add_recipe_to_recipe_foods_path %>
</div>
