<p style="color: green"><%= notice %></p>

<h1>Users</h1>

<div id="users">
  <% @users.each do |user| %>
    <%= link_to user.name %>
    <p>
      <%= link_to "Show this user", user %>
    </p>
  <% end %>
</div>

