<h1>Editing add user to inventory</h1>

<%= render "form", add_user_to_inventory: @add_user_to_inventory %>

<br>

<div>
  <%= link_to "Show this add user to inventory", @add_user_to_inventory %> |
  <%= link_to "Back to add user to inventories", add_user_to_inventories_path %>
</div>
