<h1>New add user to inventory</h1>

<%= render "form", add_user_to_inventory: @add_user_to_inventory %>

<br>

<div>
  <%= link_to "Back to add user to inventories", add_user_to_inventories_path %>
</div>
