<h1>New add food to inventory food</h1>

<%= render "form", add_food_to_inventory_food: @add_food_to_inventory_food %>

<br>

<div>
  <%= link_to "Back to add food to inventory foods", add_food_to_inventory_foods_path %>
</div>
