<h1>Editing add inventory to inventory food</h1>

<%= render "form", add_inventory_to_inventory_food: @add_inventory_to_inventory_food %>

<br>

<div>
  <%= link_to "Show this add inventory to inventory food", @add_inventory_to_inventory_food %> |
  <%= link_to "Back to add inventory to inventory foods", add_inventory_to_inventory_foods_path %>
</div>
